.faq {
  border: none;
  padding-top: 100px;
  padding-bottom: 10px;
}

h1 {
  font-size: 32px;
  align-items: center;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: none;
  color: $my-blue;
  text-align: center;
}

h3 {
  font-size: 16px;
  color: $my-dark-blue;
  font-weight: bold;
}

.faqHeader {
  font-size: 24px;
  margin: 0px;
  padding-top: 16px;
  font-family: $headers-font;
  padding-bottom: 6px;
}

.panel-heading [data-toggle="collapse"]:after {
  float: right;
  line-height: 22px;
}

.panel-body {
  font-size: 16px;
  font-family: $body-font;
  text-align: justify;
}

.panel-default {
  padding: 6px;
}

.panel-title {
  font-size: 18px;
}

// Para caso seja inserido um campo de busca:
// .qual_duvida {
//   display: flex;
//   border: none;
//   margin-top: 10%;
//   padding-top: 2rem; 
//   padding-bottom: 2rem;
//   font-weight: bold;
//   font-family: $headers-font;
// }

// .container-search {
//   display: flex;
//   border: none;
//   margin-top: 8px;
//   padding-top: 0.5rem; 
//   padding-bottom: 0.5rem;
//   font-family: $headers-font;
//   justify-content: center;
//   margin-right: 10%;
//   margin-left: 10%;
// }

// .search-form-control {
//   position: sticky;
//   width: 100%;
//   display: flex;
//   padding: 0.5rem; 
//   margin: 0;
// }

// .search-form-control .btn {
//   position: absolute;
//   top: 8px;
//   bottom: 8px;
//   right: 8px;
// }

// .search-form-control .form-control {
//   height: 3.0rem;
//   width: 100%;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
//   border: 1px solid #E7E7E7;
// }

// .search-form-control .form-control:focus {
//   border: 1px solid $my-blue;
//   outline: none !important;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

// .simple_form {
//   border: none;
//   width: 720px;
// }