.faq {
  border: none;
  padding-top: 100px;
  padding-bottom: 10px;
}

.faq {
  h1 {
  font-size: 32px;
  align-items: center;
  font-weight: bold;
  }
}

.help-body {
  h2 {
  font-size: 18px;
  font-weight: none;
  color: $my-blue;
  text-align: center;
  }

  h3 {
  font-size: 16px;
  color: $my-dark-blue;
  font-weight: bold;
  }
}


.faqHeader {
  font-size: 24px;
  margin: 0px;
  padding-top: 16px;
  font-family: $headers-font;
  padding-bottom: 6px;
}

.panel-heading [data-toggle="collapse"]:after {
  float: right;
  line-height: 22px;
}

.panel-body {
  font-size: 16px;
  font-family: $body-font;
  text-align: justify;
}

.panel-default {
  padding: 6px;
}

.panel-title {
  font-size: 18px;
}
