.faq {
  border: none;
  padding-top: 100px;
  padding-bottom: 10px;
}

.faq {
  h1 {
  font-size: 32px;
  align-items: center;
  font-weight: bold;
  color: $my-dark-blue
  }
}

// .help-body {
//   h2 {
//   font-size: 18px;
//   font-weight: none;
//   color: $my-blue;
//   text-align: center;
//   }

//   h3 {
//   font-size: 16px;
//   color: $my-dark-blue;
//   font-weight: bold;
//   }
// }

.faqHeader {
  font-size: 24px;
  margin: 0px;
  padding-top: 16px;
  font-family: $headers-font;
  padding-bottom: 8px;
  text-align: left;
  color: $my-dark-blue;
  font-weight: bold;
}

.panel-heading [data-toggle="collapse"]:after {
  float: right;
  line-height: 22px;
}

.panel-body {
  font-size: 16px;
  font-family: $body-font;
  text-align: justify;
  font-weight: 100;
}

.panel-default {
  padding: 6px;
}

.panel-title {
  font-size: 18px;
  padding: 6px;
  font-weight: 300;
  }

.wrapper-faq {
  background-color: rgba(160,160,160,0.1);
}