// Specific CSS for your home-page

.home-video-wrapper {
height: 100vh;
display: flex;
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}


h1.home {
  color: $my-light-grey;
  font-size: 72px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  margin: none;
  min-height: 86px;
}

.text-main {
  padding: 180px 120px;
}

.link-denuncia {
  text-decoration: none;
  color: $my-light-grey;
  font-size: 40px;
  font-family: $headers-font;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  border: 2px solid $my-light-grey;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: rgba(0,0,0,0.2);
}

.link-denuncia:hover {
  text-decoration: none;
  color: $my-dark-blue;
  background-color: rgba(240,240,240,0.6);
  text-shadow: none;
  transition: 0.3s;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.6);
}
