<div class="wrapper">
  <div class="container borda">
    <div class="container row intern-container borda p-0">
      <div class="col-3 borda p-0 img-form">
        <%= image_tag "img_teste.jpg", id:"foto-1" %>
      </div>
      <div class="col-9 text-form borda">
        <div class="p-4 main-text">
          <h4><strong>Seja muito bem-vindo(a) ao canal de denúncias da Receita Federal!</strong></h4>
          <br>
          <h5>Você gostaria de se identificar?</h5>
          <br>
          <div>
            <%= link_to "Sim", new_user_registration_path, class:"btn-ask-login"%>
            <%= link_to "Não", new_complaint_path, class:"btn-ask-login"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
