<div id="element-hide-7">
  <div class="image-background">
    <%= image_tag "img_teste.jpg", id:"foto-7" %>
    <div class="container">
      <div class="row align-items-center borda", id="form-7">
        <div class="col d-flex justify-content-center borda m-5 box-form-ext">
          <div id="complaint-form" class="box-form-int borda">
            <p>Gostaria de se identificar? </p>
              <%= link_to  "Sim", new_user_registration_path %>
              <%= link_to  "Não",  new_complaint_path %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
