<header class="full-header">
  <div class="geral-header">
    <div class="logo">
      <%= image_tag "receita-federal-logo-4-1.png" %>
    </div>
    <div class="opcoes-navbar">
      <%= link_to "Outra", new_user_session_path, class: "nav-link" %>
      <%= link_to "Ajuda", help_path, class: "nav-link", id:"link-2" %>
      <%= link_to "Login", new_user_session_path, class: "nav-link", id:"link-3" %>
    </div>
  </div>
</header>
