<div class="wrapper-faq">
  <div class="faq">
    <h1 class="text-center">Perguntas mais frequentes</h1>
  </div>
  <br>
  <div class="container help-body">
    <div class="panel-group" id="accordion">
      <div class="faqHeader">Sobre o Portal e as Denúncias
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">O que é e para que serve o Portal de Denúncias da RFB?</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              O Portal de Denúncias da RFB foi criado para receber as denúncias relacionadas ao trabalho da
              Receita Federal. As denúncias recebidas pelo Portal serão devidamente analisadas e serão tomadas todas
              as providências cabíveis.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">O que é uma denúncia?</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Segundo o Decreto nº 9.492/2018, uma denúncia é um “ato que indica a prática de irregularidade ou de
              ilícito cuja solução dependa da atuação dos órgãos apuratórios competentes”.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Como fazer uma denúncia?</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Na página inicial, clique em "Denuncie" e responda as perguntas que aparecer na tela. Após respondê-las,
              será exibido o resumo de suas respostas para conferência. Estando tudo certo, basta clicar em "Enviar".
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Quem saberá que eu fiz a denúncia?</a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              A identificação do denunciante, isto é, da pessoa que fez a denúncia, é informação pessoal protegida com
              restrição de acesso nos termos da Lei nº 12.527, de 18 de novembro de 2011.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Por que devo informar meu telefone e e-mail para contato?</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              Caso necessário, a Receita Federal poderá entrar em contato para esclarecimentos e obtenção de informações
              complementares à denúncia.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">O que é a Aduana?</a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              Indispensável à segurança nacional e ao comércio justo, a Aduana é a responsável por permitir que só entre e saia
              do País o que é permitido por lei, seja bens, mercadorias ou veículos. Porém, em um mundo globalizado, não basta
              impedir entrada ou saída irregular. A Receita Federal tem que, ao mesmo tempo, garantir a segurança e permitir
              a fluidez do comércio exterior. Uma das missões mais importantes é sua contribuição na regulação econômica,
              melhorando o ambiente de negócios ao combater as práticas ilegais. Além dos itens de comércio, a Aduana
              brasileira exerce um papel fundamental no combate ao tráfico de drogas e crimes transfonteiriços.
              <%# Este vídeo produzido pela TV Receita retrata a enorme tarefa da Receita Federal, responsável pela Aduana
              brasileira: https://www.youtube.com/watch?feature=player_embedded&v=nzgLSRdYl2c. %>
              Caso a sua denúncia esteja relacionada a operações de importação, exportação, contrabando e contrafação de
              mercadorias (mercadorias falsificadas / piratas), babagem de viajantes,  tributos incidentes sob o comércio
              exterior e demais assuntos relacionados ao trabalho da Aduana, selecione "ADUANA" quando preencher a sua denúncia.
                    <br />
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">O que são tributos internos?</a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              Para a Receita Federal são os tributos federais que não estão relacionados ao comércio exterior,
              tais como: Imposto de Renda da Pessoa Física e Jurídica (IRPF/IRPJ), Contribuições Sociais (CSLL, PIS, Cofins,
              Cide etc) e Previdenciárias, IPI, ITR, IOF, entre outros. Caso a sua denúncia esteja relacionada a tais tributos,
              obrigações ou contratos relacionados a eles, selecione a opção "TRIBUTOS INTERNOS" quando do preenchimento
              de sua denúncia.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">O que devo informar em uma denúncia?</a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              Você deve apresentar os fatos de forma clara e objetiva, contendo elementos mínimos, como local da ocorrência
              do fato, identificação dos envolvidos, conduta realizada e demais informações que tiver que auxiliem a Receita
              Federal a identificá-los e tomar as providências cabíveis.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Como faço para juntar documentos ou fotos na denúncia?</a>
            </h4>
          </div>
          <div>
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                Clique em “Escolher arquivos” e selecione os arquivos que deseja juntar. Para selecionar mais de um,
                selecione os diversos arquivos utilizando a tecla SHIFT do teclado do seu computador.
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">O que acontece depois que faço uma denúncia?</a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              A denúncia será distribuída para a unidade administrativa da Receita Federal que tem competência para
              atuar na matéria tratada da denúncia.
            </div>
          </div>
        </div>
      </div>

      <div class="faqHeader">Minha Conta
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Como me cadastro no Portal de Denúncias?</a>
            </h4>
          </div>
          <div id="collapseTwelve" class="panel-collapse collapse">
            <div class="panel-body">
              Clique em "Denuncie" ou "Entrar" e clique em "sign up". Preecha seus dados e clique em "Log in".
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">Como entro na minha conta?</a>
            </h4>
          </div>
          <div id="collapseFifteen" class="panel-collapse collapse">
            <div class="panel-body">
              Clique em "Denuncie" ou "Entrar", digite o seu e-mail e senha e clique em "Log in".
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Como saio da minha conta?</a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
              No canto superior direito da tela, clique na setinha e em sair.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">Onde consigo ver as minhas denúncias?</a>
            </h4>
          </div>
          <div id="collapseSixteen" class="panel-collapse collapse">
            <div class="panel-body">
              No canto superior direito da tela, clique na setinha e em "Minhas denúncias".
            </div>
          </div>
        </div>
      </div>

      <div class="faqHeader">Sobre a Receita Federal
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirtheen">O que é e para que serve a Receita Federal?</a>
            </h4>
          </div>
          <div id="collapseThirtheen" class="panel-collapse collapse">
            <div class="panel-body">
              A Secretaria Especial da Receita Federal do Brasil é um órgão específico, singular, subordinado ao Ministério
              da Economia, exercendo funções essenciais para que o Estado possa cumprir seus objetivos. É responsável pela
              administração dos tributos de competência da União, inclusive os previdenciários, e aqueles incidentes sobre
              o comércio exterior, abrangendo parte significativa das contribuições sociais do País. Também subsidia o Poder
              Executivo Federal na formulação da política tributária brasileira, previne e combate a sonegação fiscal, o
              contrabando, a descaminho, a contrafação, a pirataria, o tráfico ilícito de entorpecentes e de drogas afins,
              o tráfico internacional de armas de fogo e munições, a lavagem ou ocultação de bens, direitos e valores e outros
              ilícitos aduaneiros.

              Sua missão é exercer a administração tributária e aduaneira com justiça fiscal e respeito ao cidadão, em benefício da sociedade.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Quais são as competências da Receita Federal?</a>
            </h4>
          </div>
          <div id="collapseFourteen" class="panel-collapse collapse">
            <div class="panel-body">
              As competências da Secretaria Especial da Receita Federal do Brasil podem ser sintetizadas como:
              - administração dos tributos internos e do comércio exterior;
              - gestão e execução das atividades de arrecadação, lançamento, cobrança administrativa, fiscalização,
              pesquisa e investigação fiscal e controle da arrecadação administrada;
              - gestão e execução dos serviços de administração, fiscalização e controle aduaneiro;
              - repressão ao contrabando e descaminho, no limite da sua alçada;
              - preparo e julgamento, em primeira instância, dos processos administrativos de determinação e exigência de
              créditos tributários da União;
              - interpretação, aplicação e elaboração de propostas para o aperfeiçoamento da legislação tributária e
              aduaneira federal;
              - subsídio à formulação da política tributária e aduaneira;
              - subsídio à elaboração do orçamento de receitas e benefícios tributários da União;
              - interação com o cidadão por meio dos diversos canais de atendimento, presencial ou a distância;
              - educação fiscal para o exercício da cidadania;
              - formulação e gestão da política de informações econômico-fiscais;
              - promoção da integração com órgãos públicos e privados afins, mediante convênios para permuta de informações,
              métodos e técnicas de ação fiscal e para a racionalização de atividades, inclusive com a delegação de competência;
              - atuação na cooperação internacional e na negociação e implementação de acordos internacionais em matéria
              tributária e aduaneira.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

