.dash {
  padding-top: 100px;
}

.board {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  p {
    font-size: 18px;
  }
}

.show {
  padding-top: 100px;
}

