// .dash {
//   padding-top: 100px;
// }

.board {
  border-radius: 10px;
  margin: 10px;
  height: 42vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  p {
    font-size: 20px;
  }
}

.board_show {
  border-radius: 10px;
  margin: 10px;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  p, ol {
    font-size: 20px;
  }
}
