.form-login {
  background-color: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  h2 {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
   text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

}

.label-rf {
  label {
  border: none;
  padding: 0px;
  margin-top: 0px;
  display:inline-block;
  position:relative;
  width: auto;
  text-align: center;
}
}

label {
  border: 1px solid #DDD;
  border-radius:5px;
  padding:10px;
  margin-top:10px;
  display:inline-block;
  position:relative;
  width: 160px;
  text-align: center;
}

label:hover {
  cursor:pointer;
  background-color:#EEE;
}
